.chat-window {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f7f9fc;
  border-radius: 20px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}


.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
  background: white;
  border-bottom: 1px solid #e6e6e6;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nada {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.user-text h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.username {
  color: #6c757d;
  font-size: 13px;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.status.online {
  width: 12px;
  height: 12px;
  background: #37d67a;
  border-radius: 50%;
}


.messages-list {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.message-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.message-wrapper.me {
  justify-content: flex-end;
}

.msg-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  
}

.bubble {
  max-width: 90%;
  padding: 12px 16px;
  border-radius: 20px;
  font-size: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.07);
}

.bubble.theirs {
  background: #f1f3f5;
  color: #333;
  border-top-left-radius: 5px;
}

.bubble.mine {
  background: #1b72ff;
  color: white;
  border-top-right-radius: 5px;
}


.chat-input {
  display: flex;
  padding: 15px;
  background: white;
  gap: 10px;
  border-top: 1px solid #e4e4e4;
}

.chat-input input {
  flex: 1;
  border: none;
  outline: none;
  padding: 13px 18px;
  background: #f7f7f9;
  border-radius: 15px;
  font-size: 15px;
}

.chat-input button {
  width: 55px;
  height: 55px;
  border-radius: 15px;
  border: none;
  background: #4f8ef4;
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s;
}

.chat-input button:disabled {
  opacity: 0.5;
}

.chat-input button:hover {
  transform: scale(1.05);
}

.timestamp {
  margin-top: 4px;
  font-size: 12px;
  color: #888;
}
.noor{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}