
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.receiver-header {
  flex: 0 0 auto; 
  z-index: 10;
}

.messages {
  flex: 1 1 auto; 
  overflow-y: auto; 
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.message {
  max-width: 70%;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  word-wrap: break-word;
  position: relative;
}

.my-message {
  background-color: #0ea5e9;
  color: white;
  align-self: flex-end; 
  border-bottom-right-radius: 0;
  margin-left: auto;
}

.other-message {
  background-color: #e5e7eb;
  color: black;
  align-self: flex-start; 
  border-bottom-left-radius: 0;
  margin-right: auto;
}

.message-time {
  font-size: 0.7rem;
  margin-top: 2px;
  text-align: right;
  opacity: 0.6;
}

.input-area {
  flex: 0 0 auto; 
  display: flex;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  border-top: 1px solid #d1d5db;

}

.chat-input {
  flex: 1;
  padding: 0.5rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  outline: none;
}

.btn-send {
  padding: 0.5rem 1rem;
  background-color: #0ea5e9;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn-send:hover {
  background-color: #0284c7;
}
