/* Scrollbar */
.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(80, 80, 120, 0.3);
  border-radius: 10px;
}

.dark .sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(200, 200, 200, 0.2);
  border-radius: 10px;
}